.contact-page {
  display: flex;
  min-height: 60.1vh;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 0px;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.contacts-icon {
  margin-left: 5px;
}
.contact-template {
  display: flex;
  align-items: center;
  border: 1px solid #ea1538;
  border-radius: 10px;
  padding: 10px;
}

.contact-icon {
  width: 40px;
  height: 40px;
  background-color: #ea1538;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-details {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  margin: 0;
}
