section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
.container {
  width: 1540px;
  margin: 0 auto;
  padding: 20px;
}
.main-text {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  margin: 200px auto;
  text-align: left;
  width: 550px;
  font-size: 25px;
}

.red-text {
  color: #ea1538;
}
.click-here {
  color: #ea1538;
}
.more {
  margin-top: 30px;
  color: white;
}
.click-here:hover {
  color: white;
  transition: 0.3s;
}

.card-container {
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;
  flex-direction: column;
}

.content-section {
  margin-top: 100px;
  flex-wrap: wrap;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-section .card {
  width: 23%;
  height: 350px;
  border-radius: 20px;
  margin: 40px 25px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.15);
}

.content-section .card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 200px;
}

.quality {
  height: 225px !important;
}

.content-section .card h2 {
  margin: 16px 0px;
  font-size: 28px;
  color: #ea1538;
}

.content-section .card p {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  margin: 5px 0;
  overflow: hidden;
}

.title {
  color: #ea1538;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 1.6rem;
  margin: 30px;
  background-color: #f7f7f7;
}
.container{
  height: 100vh;
  display: flex;
  align-items: center; justify-content: center;
}

.title::before, .title::after{
  content: "";
  height: 2px;
  background-color: #ea1538;
  display: block;
}



@media (768px <= width <= 1300px) {
  .main-text {
    margin: 100px 25%;
  }
  .content-section .card{
    height: 400px;
  }

}  


@media screen and (max-width: 768px) {
  .content-section {
    flex-direction: column;
  }
  .content-section .card {
    width: 90%;
  }
}
