.app {
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 40px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

.navbar li {
  margin-right: 60px; /* Increased from 20px to 30px */
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar li a:hover {
  color: #ff8800;
}

footer {
  margin-top: 40px;
  color: #888;
}
